:root {
    --pdoc-background: #141414;
    font-family: "Inter", sans-serif;
}

.pdoc {
    --text: #ccc;
    --muted: #888;
    --link: #58a6ff;
    --link-hover: #3989ff;
    --code: #353535;
    --active: #444;

    --accent: #1b1b1b;
    --accent2: #353535;

    --nav-hover: rgba(0, 0, 0, 0.1);
    --name: #77C1FF;
    --def: #0cdd0c;
    --annotation: #00c037;
}